# GWS Homelab SSH Config
# Append to ~/.ssh/config with:  cat ssh.config >> ~/.ssh/config

Host rpi3
    HostName 192.168.10.10
    User gws
    IdentityFile ~/.ssh/id_ed25519_gws_homelab
    IdentitiesOnly yes

Host rpi5
    HostName 192.168.10.11
    User gws
    IdentityFile ~/.ssh/id_ed25519_gws_homelab
    IdentitiesOnly yes

Host optiplex
    HostName 192.168.10.20
    User gws
    IdentityFile ~/.ssh/id_ed25519_gws_homelab
    IdentitiesOnly yes

Host openclaw
    HostName 192.168.40.30
    User gws
    IdentityFile ~/.ssh/id_ed25519_gws_homelab
    IdentitiesOnly yes

Host localllm
    HostName 192.168.10.30
    User gws
    IdentityFile ~/.ssh/id_ed25519_gws_homelab
    IdentitiesOnly yes

Host *.homelab
    User gws
    IdentityFile ~/.ssh/id_ed25519_gws_homelab
    IdentitiesOnly yes
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
