---
title: GWS Homelab
theme: dark
color: slate
headerStyle: boxed
cardBlur: sm
useEqualHeights: true
target: _blank

layout:
  Media:
    style: row
    columns: 3
  Monitoring:
    style: row
    columns: 4
  AI:
    style: row
    columns: 2
  Tools:
    style: row
    columns: 4
  Downloads:
    style: row
    columns: 2
  Infrastructure:
    style: row
    columns: 3
